[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"pep8" = "*"
"autopep8" = "*"
pylint = "*"
safety = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-swagger = "*"
"python-u2flib-server" = "*"
fire = "*"
semver = "*"
django-cors-headers = "*"
"boto3" = "*"
"django-s3-storage" = "*"

[requires]
python_version = "3.7"
